@media screen and (min-width: 1024px) {

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .content section {
    width: 70%;
    display: block;
    justify-content: space-between;
  }

}