@media screen and (max-width: 1023px) {

.content {
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
  flex-direction: column;
}

.content p {
  font-family: sans-serif;
  width: 75%;
  margin: 2rem 0 1rem;
}

.content li {
  font-family: sans-serif;
  width: 65%;
  margin: 1rem;
}

.content h2 {
  font: 2rem "Miltonian Tattoo", sans-serif;

  text-align: center;
}

.content section  img {
  width: 70%;
  height: auto;
  margin-top: 2rem;
}

}